<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.indiewalkabout.mathbrainer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_Credits"></activity>
        <!-- ADMOB -->
        <!-- Sample AdMob App ID:        ca-app-pub-3940256099942544~3347511713 -->
        <!-- THIS APP REAL AdMob App ID: -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_key_app_id" />

        <activity
            android:name=".notused.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChooseGameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aritmetic.Math_Op_Write_Result_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".othergames.CountObjectsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aritmetic.DoubleNumberActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".othergames.FallingOperationsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othergames.NumberOrderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aritmetic.RandomOperationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".othergames.SoundsSeqActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".aritmetic.Math_Op_Choose_Result_Activity" />
    </application>

</manifest>